#box{
  border-style:solid;
  margin: 50px;
  padding:50px;
}


/* Directions: Play around with the margin and padding values until you think you know what each of them does. Write your description in a comment below. */
/* 
 */
 /* Challenge! Try to figure out how to make the inside of the box yellow and the rest of the page blue */